{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="header">
    {% if user.is_authenticated %}
        <a><b>Welcome {{ user.username }}</a></b>
    {% else %}
        <a><b>Welcome to the Internot</a></b>
    {% endif %}

    <div class="header-right">
        {% if user.is_authenticated %}
            <a href="{% url 'users:logout' %}">Logout</a>
            <a href="{% url 'posts:start' %}">Home</a>
        {% else %}
            <a href="{% url 'users:login' %}">Login</a>
            <a href="{% url 'users:signup' %}">Signup</a>
        {% endif %}
    </div>
</div>
{% endblock %}

